# --------- darts --------- #
statsforecast==1.4.0 # newer statsforecast version is not compatible with darts
darts==0.26.0
pandas>=1.5.0
scikit-learn==1.3.2 # darts 0.26.0 requires scikit-learn < 1.4

# --------- hydra --------- #
hydra-core>=1.3.2
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0
#optuna>=3.3.0  to fix issue with hyperparameter importances update optuna to >3.0.0
#hydra-optuna-sweeper depends on optuna<3.0.0 and >=2.10.0 and as such this requirement cannot be put in requirements

# --------- optuna --------- #
sqlalchemy==1.4.46  # fix bug for optuna-dashboard, should be removed when bug is addressed.
optuna-dashboard    # visualizing results of optuna hyperparameter optimization


# --------- qp --------- #
cvxopt


# --------- loggers --------- #
# wandb
# neptune-client
mlflow
# comet-ml
tensorboard>=2.10.1

# --------- others --------- #
pyrootutils         # standardizing the project root setup
pre-commit          # hooks for applying linters on commit
rich                # beautiful text formatting in terminal
pytest              # tests
# sh                # for running bash commands in some tests (linux/macos only)
notebook            # jupyter notebook

