# @package _global_

defaults:
  - base_local

model:
  _target_: darts.models.forecasting.exponential_smoothing.ExponentialSmoothing
  #trend: #Type of trend component. See ModelMode
  #  _target_: darts.utils.utils.ModelMode.ADDITIVE  TODO: figure out how to use enum in hydra
  damped: False  # Should the trend component be damped. Defaults to False
  #seasonal:  # Type of seasonal component. See SeasonalityMode
  seasonal_periods: 4 # The number of periods in a complete seasonal cycle, e.g., 4 for quarterly data or 7 for daily data with a weekly cycle. If not set, inferred from frequency of the series.

